<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ChunkInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.ChunkInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="chunkNumber" column="chunk_number" jdbcType="BIGINT"/>
            <result property="chunkSize" column="chunk_size" jdbcType="BIGINT"/>
            <result property="currentChunksize" column="current_chunkSize" jdbcType="BIGINT"/>
            <result property="identifier" column="identifier" jdbcType="VARCHAR"/>
            <result property="filename" column="filename" jdbcType="VARCHAR"/>
            <result property="relativePath" column="relative_path" jdbcType="VARCHAR"/>
            <result property="totalChunks" column="total_chunks" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,chunk_number,chunk_size,
        current_chunkSize,identifier,filename,
        relative_path,total_chunks
    </sql>
</mapper>
