<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.FileInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.FileInfo">
            <id property="identifier" column="identifier" jdbcType="VARCHAR"/>
            <result property="filename" column="filename" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="totalSize" column="total_size" jdbcType="BIGINT"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="parentFolderId" column="parent_folder_id" jdbcType="INTEGER"/>
            <result property="uploadBy" column="upload_by" jdbcType="VARCHAR"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
            <result property="postfix" column="postfix" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        identifier,filename,type,
        total_size,location,parent_folder_id,
        upload_by,upload_time,postfix
    </sql>
</mapper>
