<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.MyFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.MyFile">
        <id column="my_file_id" property="myFileId" />
        <result column="my_file_name" property="myFileName" />
        <result column="download_time" property="downloadTime" />
        <result column="upload_time" property="uploadTime" />
        <result column="parent_folder_id" property="parentFolderId" />
        <result column="size" property="size" />
        <result column="type" property="type" />
        <result column="postfix" property="postfix" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        my_file_id, my_file_name, download_time, upload_time, parent_folder_id, size, type, postfix
    </sql>

</mapper>
