<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.User">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="register_time" property="registerTime" />
        <result column="image_path" property="imagePath" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, password, register_time, image_path
    </sql>

    <select id="getAllUser" resultType="com.example.pojo.UserVO">
        select  user.user_id as user_id,user_name,register_time,image_path,role.name from user,user_role,role where
        user.user_id = user_role.user_id and role.id = user_role.role_id;
    </select>
</mapper>
